@import "mixins.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "dosis";
  @include mQ(950px) {
    font-size: 14px;
  }
  @include mQ(600px) {
    font-size: 12px;
  }
  box-sizing: border-box;
}

body {
  background-color: $main-yellow;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

p {
  font-size: 1.2em;
  line-height: 1.2em;
}

.hamburger {
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 1px 3px 12px 10px rgba(0,0,0, .2);
  img {
    max-height: 100%;
  }
}

header {
  display: grid;
  grid-template-rows: 4vh 1fr;

  .header-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    h1 {
      font-size: 7vw;
      font-family: "dancing script";
    }
  }

  .background {
    overflow: hidden;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    img {
      max-width: 100%;
      width: 100%;
      z-index: -99;
      max-height: 100vh;
      flex-shrink: 0;
      filter: brightness(60%);
    }
  }

}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 5vh auto;
  }
  #location-photos {
    margin: 0 auto;
    .photo-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    max-width: 1200px;
    .location-photo img{
      max-width: 300px;
    }
    img {
      width: 100%;
    }
    button {
      padding: 15px;
      border-radius: 30px;
      background-color: #080E09;
      color: #d3d3d3;
      margin: 20px 0px;
    }
  }
  #project-categories {


    background-color: #648e37;
    h2 {
      color: white;
      margin: 30px 0px;
    }
    .category-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 20vh;
      .category {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        max-width: 25%;
        height: auto;
        color: white;
        margin-bottom: 20px;
        padding: 5px;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          color:#AAA;
        }
        img {
          min-width: 200px;
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }

  }
}
