@import "mixins.scss";


* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.hamburger {
  position: fixed;
  top: 1vh;
  right: 1vw;

    img {
      width: 50px;
    }
}

header {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 800px;
    @include mQ(950px) {
      height: 700px;
    }
    @include mQ(600px) {
      height: 400px;
    }

    img {
      max-width: 100%;
      width: 100%;
      max-height: 100vh;
      flex-shrink: 0;
      @include mQ(950px) {

        }
      }
  }

}
